.idea/
.ruby-gemset
.ruby-version
INFA723+Track+B+Homework2+2017.docx
INFA723.docx
INFA723.gpg
q1-file1
q1-file1.tar.bz2
q2-file2
q2-file2.tar.bz2
test
test.txt
/book.pdf
EllipticCurve.ppt
EllipticCurve.gpg
myhttpd1.cpp
book.pdf
book.gpg
/plain.txt
plain.txt
